<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>more information</title>
        <link rel="stylesheet" href="../static/style.css">

	<p class="aligncenter">
		<img src="../static/img.png" width="400" >
	</p>

    </head>
    <body>
        <h1>А вообще друзья называют меня Машка</h1>
        <p>Интересные факты:</p>
        <ol class="h2" >
            <li>
                <input class="hide" id="hd-1" type="checkbox" >
                <label for="hd-1">Я проходила много доп курсов</label>
                <div>
                    <ol>
                        <li class="h2" >
                            Базовая биоинформатика от компании "Bostongene"<br>
                        </li>

                        <li class="h2" >
                            Основы иммунологии от компании "Bostongene"<br>
                        </li>
						
						<li class="h2" >
                            Математическое моделирование в разработке лекарств от компании "M&S Decisions"<br>
                        </li>

                        <li class="h2" >
                            PhystechDataScience<br>
                        </li>
                    </ol>
                </div>

            </li>

            <li>
                <input class="hide" id="hd-2" type="checkbox" >
                <label for="hd-2">Участвую в различных активностях вуза</label>
                <div>
                    <ol>
                        <li class="h2" >
                            Принимаю участие в соревнованиях по танцам: <br>
							<br>
                            Ежегодный фестиваль "Московская студенческая весна"<br>
							Фестиваль искусств на физтехе<br>
							Даже немного преподаю танцы<br>
								<p class="aligncenter">
									<img src="../static/image.jpg" width="400" >
								</p>
                        </li>
						<br>
                        <li class="h2" >
                            Рассказываю о науке детям:<br>
							<br>
                            Была куратором у школьников на конференции "Старт в науку"<br>
							Вожатила на смене "Старт в инновации"<br>
							Преподавала детям химию в рамках проекта "Математическая вертикаль", <br>
							можно посмотреть видосик по ссылочке: <a href="https://vk.com/wall-63013909_2694">мк по химии</a>
							
                        </li>
                    </ol>
                </div>
            </li>
        </ol>

	<footer>
    ©2023 Баранникова Маша, ФБМФ МФТИ <br> Вы можете вернуться на страницу с общей информацией по ссылке <a href="{{ url_for('Mariia') }}">Mariia</a>
	</footer>

    </body>
</html>