<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mariia</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Баранникова Мария Владимировна</h1>
        <p class="high_h" >Общая информация:</p>
        <ol class="h2" >
            <li>
			<input class="hide" id="hd-1" type="checkbox" >
                <label for="hd-1">Основное образование</label>
                <div>
                    <ol>
                        <li class="h2" >
                            МБОУ СОШ №25 города перспектив и бескрайних возможностей (Мытищи)<br>
                        </li>

                        <li class="h2" >
                            ГБОУ Лицей 1568 имени Пабло Неруды<br>
                        </li>

                        <li class="h2" >
                            МФТИ (ФБМФ)<br>
                        </li>
                    </ol>
                </div>
			</li>
			<li>
                <input class="hide" id="hd-2" type="checkbox" >
                <label for="hd-2">Дополнительное образование</label>
                <div>
                    <ol>
                        <li class="h2" >
                            Музыкальная школа "Радуга" города Мытищи (игра на фортепиано)<br>
                        </li>

                        <li class="h2" >
                            Танцор В класса латиноамериканской программы спортивных бальных танцев<br>
                        </li>
						
						<li class="h2" >
                            Танцор В класса европейской программы спортивных бальных танцев<br>
                        </li>
                    </ol>
                </div>
            </li>

        </ol>



    <p>Узнать <a href="{{ url_for('site') }}">подробнее</a></p>
	
	 <footer>
    ©2023 Баранникова Маша, ФБМФ МФТИ <br>
	</footer>
  
    </body>
    </html>